.section_login {
    width: 80%;
    margin: 30px auto;
    padding: 50px 0;
}

.div_login {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.iniciar_seccion {
    margin: 30px 0;
}

.input_login {
    width: 400px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: white;
    border: none;
}

.btn_enviar_login {
    margin-top: 30px;
    width: 400px;
    background-color: #2A7AE4;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 20px;
}

.btn_enviar_login:hover {
    transform: scale(1);
    box-shadow: 0 5px 5px black;
}