.star__wars {
    padding: 3rem 0;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    justify-content: space-around;
}

.card {
    background: #fdfdfd;
    /*margen entre productos*/
    margin-right: 5px;
}

.card:last-child {
    margin-right: 0;
}

.imagen {
    width: 100%;
}

.descripcion {
    color: #333333;
    font-size: 13PX;
    margin-bottom: 10px;
}

.precio {
    color: #808080;
    font-size: .9rem;
}

.ver_producto {
    color: #333333;
    line-height: 1.5;
    margin: 10px 0;
    text-align: justify;
    color: #2A7AE4;
    cursor: pointer;
}

.titulo {
    font-weight: bold;
    font-size: 30px;
}

.header {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.boton {
    background: transparent;
    border: none;
    color: #2A7AE4;
}