.contenido {
    padding: 0 2rem;
    width: 90%;
    margin: 0 auto;
}


/*-------header------------*/

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filtrar-tabla {
    text-align: left;
    font-size: 15px;
    width: 300px;
    padding: .5rem;
    margin-bottom: 10px;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #2A7AE4;
}

.btnLogin {
    padding: 8px;
    background-color: #2A7AE4;
    border: none;
    border-radius: 3px;
    color: white;
}

.btnLogin:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 5px black;
}

.img_hongo {
    width: 100%;
}

.productHide {
    display: none;
}

.eliminacion {
    opacity: 0;
    transition: 0.5s;
}

.p {
    cursor: pointer;
    margin: 2px;
    color: red;
}

@media (max-width: 485px) {
    .logo {
        display: none;
    }
}

@media (max-width: 379px) {
    .card {
        width: 45%;
    }
    .btnLogin {
        padding: 5px;
    }
}

@media(max-width: 768px) {
    .container {
        width: 95%;
    }
    .logo {}
    section.star__wars {
        padding: 0;
    }
    .contenido {
        width: 98%;
    }
    #filtrar-tabla {
        width: 200px;
    }
}

@media(min-width: 890px) {
    .card {
        width: 15%;
    }
}